<% content_for :navigation do %>
  <ul>
    <li><a href="/products">products</a></li>
    <li><a href="/projects">projects</a></li>
    <li class="selected">blog</li>
  </ul>
<% end %>
<% content_for :page do %>
    <div id="page-wrapper">
      <div id="page" style="padding-top: 30px;">
        <div id="post-navigation">
        	<% if posts.empty? and not admin?%>
        		<p><a href="/blog/auth">Log in</a></p>
        	<% end %>
        	<% if admin? %>
        		<p><a href="/blog/posts/new">New Post</a><p>
        	<% end %>
      		<p><a href="/blog/past">Archive</a></p>
          <ul>
            <li class="rss">
              <a href="/blog/rss">
                <img src="/company/blog-rss.png" alt="rss imaginaryProducts"/>
              </a>
            </li>
            <li class="email">
              <a href="mailto:troy@imaginaryproducts.com">
                <img src="/company/blog-email.png" alt="email imaginaryProducts"/>
              </a>
            </li>
            <li class="twitter">
              <a href="http://www.twitter.com/imaginaryprod">
                <img src="/company/blog-twitter.png" alt="Follow imaginaryprod on Twitter"/>
              </a>
            </li>
          </ul>
        </div>
      	<% if not posts.empty? %>
      	  <% posts.each do |post| %>
        	  <div class="post-item">
              <div class="date">
          	    <%= post[:created_at].strftime("%b %d, %Y") %>
              </div>
            	<div class="post">
            		<div class="title">
            		  <a href="<%= post.url %>"><%= post[:title] %></a>
            		</div>
            		<div class="entry">
            			<%= post.summary_html %>
            		</div>
          			<% if post.more? %>
          				<p><a class="more" href="<%= post.url %>">read more &raquo;</a></p>
          			<% end %>
          	  </div>
          	</div>
        	<%end%>
        <% end %>
      </div>
    </div>
<% end %>
