<% content_for :navigation do %>
  <ul>
    <li><a href="/products">products</a></li>
    <li><a href="/projects">projects</a></li>
    <li><a href="/blog">blog</a></li>
  </ul>
<% end %>
<% content_for :page do %>
  <div id="post-navigation" style="margin-top: 32px;">
   	<% if admin? %>
    		<p><a href="<%= post.url %>edit">Edit</a></p>
    	<% end %>
  	<p><a href="/blog/past">Archive</a></p>
    <ul>
      <li class="rss">
        <img src="/blog-rss.png" alt="rss imaginaryProducts"/>
      </li>
      <li class="email">
        <img src="/blog-email.png" alt="email imaginaryProducts"/>
      </li>
      <li class="twitter">
        <a href="http://www.twitter.com/imaginaryprod">
          <img src="/blog-twitter.png" alt="Follow imaginaryprod on Twitter"/>
        </a>
      </li>
    </ul>
  </div>
  <div class="post-item" style="margin-top: 30px;">
    <div class="date">
      <%= post[:created_at].strftime("%B %d, %Y") %>
    </div>
    <div class="post">
  		<div class="title">
  		  <a href="<%= post.url %>"><%= post[:title] %></a>
  		</div>
    	<div class="entry">
    		<%= post.body_html %>
    	</div>
      <% if Blog.disqus_shortname %>
      	<div id="disqus_thread"></div>
      	<script type="text/javascript" src="http://disqus.com/forums/<%= Blog.disqus_shortname %>/embed.js"></script>
        <script type="text/javascript">
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + <%= Blog.disqus_shortname %> + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      <% end %>
     </div>
  </div>
<% end %>  