<% content_for :navigation do %>
  <ul>
  <li><a href="/products"><img src="/products.png"></a></li>
  <li><a href="/blog"><img src="/blog.png"></a></li>
  </ul>
<% end %>
<% content_for :page do %>
  <div id="post-navigation">
   	<% if admin? %>
    		<div class="edit"><a href="<%= post.url %>edit">Edit</a></div>
    	<% end %>
  	<a href="/blog/past">Archive</a>
  </div>
  <div class="post-item">
    <div class="date">
      <%= post[:created_at].strftime("%B %d, %Y") %>
    </div>
    <div class="post">
  		<div class="title">
  		  <a href="<%= post.url %>"><%= post[:title] %></a>
  		</div>
    	<div class="entry">
    		<%= post.body_html %>
    	</div>
      <% if Blog.disqus_shortname %>
      	<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/<%= Blog.disqus_shortname %>/embed.js"></script><noscript><a href="http://<%= Blog.disqus_shortname %>.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      <% end %>
     </div>
  </div>
<% end %>  